<h1></h1>
<div class="content-grid">
<% @cities.each do |city| %> <div>
<%= link_to city_path(city) do %>
<div><%= image_tag city.picture.url (:medium) %></div>
<div class="content-title"><%= city.name %></div>
</div>
<% end %>
<% end %>
</div>
<p>Find me in app/views/static_pages/home.html.erb</p>
